.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: calc(100vh - 6rem);
  overflow-y: scroll;
}

.header {
  width: 100%;
  background-color: #060606;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  animation: slideDown 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cover {
  width: 16rem;
  height: 16rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 1rem 0.25rem rgba(222, 222, 222, 0.16);
  margin-right: 2rem;
  animation: slideUp 0.8s cubic-bezier(0.26, 0.48, 0.44, 0.98) forwards;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  font-size: 4rem;
  font-weight: 900;
  line-height: 5rem;
  text-align: start;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: 400;
  font-size: 0.96rem;
}

.artistNameDetail {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  font-style: italic;
}

.artistName {
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}

.artistName:hover {
  border-bottom: 1px solid #aaaaaa;
}

.tracklist {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.tracksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
}

.track {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  gap: 1rem;
}

.track:hover {
  background-color: #d4d4d421;
}
.duration {
  font-size: 0.8rem;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
