.container {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.optionsButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: #212121;
  padding: 0.5rem;
  border: 0.125rem solid #cacada;
}

.playlist {
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}

.playlist:hover {
  background-color: #363636;
}
