.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 6rem);
  overflow-y: scroll;
  padding: 2rem;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-start;
}

.input {
  width: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  border: 1px solid #cccccc69;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.artistsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  padding: 0.125rem;
}

.artist:hover {
  transform: scale(1.1);
  background: #f7d41028;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
