.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 6rem);
  overflow-y: scroll;
  padding: 2rem;
}

.input {
  width: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  border: 1px solid #cccccc69;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1rem;
  gap: 0.5rem;
  border-bottom: 1px solid antiquewhite;
  padding-bottom: 0.5rem;
}

.tab {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.25rem 0.25rem 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #cccccc69;
  border-bottom: none;
  background-color: #171923;
}

.artistsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  width: 100%;
  gap: 0.5rem;
}

.artist {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.artist:hover {
  transform: scale(1.1);
  background: #42424242;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.artistName {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 400;
}

.track {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  gap: 1rem;
}

.track:hover {
  background-color: #d4d4d421;
}

.songTitle {
  font-size: 1rem;
  font-weight: 600;
}

.duration {
  font-size: 0.8rem;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 2rem;
}

.albumCover {
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.albumsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  width: 100%;
  gap: 0.5rem;
}

.album {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
