.container {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  z-index: 2;
  width: 100%;
  background-color: #161816;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 6rem;
}

.trackInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  position: absolute;
  left: 0;
}

.cover {
  width: 4rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  animation: appear 0.6s ease-in-out forwards;
  box-shadow: 0rem 0rem 0.75rem 0.125rem rgba(32, 32, 32, 0.512);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.artist {
  color: #ffffff98;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  cursor: pointer;
}

.artist:hover {
  color: #ffd000;
  text-decoration: underline;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* margin-bottom: 1rem; */
}

.controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

audio {
  display: none;
}

.timeline {
  width: 32rem;
  height: 0.5rem;
  background-color: #424242;
  border-radius: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.progress {
  height: 100%;
  display: flex;
  align-items: center;
}

.bar {
  position: relative;
  width: 100%;
  padding: 3px;
}

.fill {
  height: 14px;
  background-color: #ffd000;
  width: 0%;
  right: 0rem;
  border-radius: 7px;
  transition: width 0.3s ease;
  position: relative;
}

.handle {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border: 2px solid #272727;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  right: 1rem;
}

.volume > input {
  width: 8em;
  height: 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
